/* HEADER */
.header {
    height: var(--header-height);
    background: linear-gradient( 220deg, #f6422e, #fe6233);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--header-navbar-height);
    line-height: var(--header-navbar-height);
}

.header__navbar-item {
    display: inline-block;
    font-size: 1.4rem;
    list-style: none;
    margin: 0 8px;
    position: relative;
}

.header__navbar-item:hover .header__qr {
    display: block;
}

.header__navbar-item:hover .header__notify {
    display: block;
}

.header__navbar-icon-link,
.header__navbar-item,
.header__navbar-link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-icon-link {
    font-size: 1.8rem;
    margin-right: 7px;
}

.header__navbar-link--strong {
    font-weight: 500;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR */
.header__qr {
    position: absolute;
    top: 90%;
    width: 160px;
    padding: 8px;
    background: var(--white-color);
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    top: -15px;
    left: 0;
    height: 12%;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-download{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-link-app{
    height: 15px;
}

/* HEADER NOTIFYCATION */
.header__notify {
    position: absolute;
    top: 95%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background: var(--white-color);
    cursor: default;
    user-select: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s ;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    width: 84px;
    height: 30px;
    position: absolute;
    top: -24px;
    right: 0;
}

@keyframes headerNotifyGrowth {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 0 12px;
    line-height: 40px;

}

.header__notify-list {
    
}

.header__notify-item {
    list-style: none;
    background-color: rgb(248 109 92 / 10%);
}

.header__notify-item:hover {
    background-color: #e4e4e4;
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.header__notify-img {
    height: 40px;
}

.header__notify-info {
    margin-left: 6px;
    line-height: 1.6rem;
}

.header__notify-name {
    display: block;
    color: var(--black-color);
    font-weight: 500;
}

.header__notify-descriotion {
    color: #666;
    font-size: 1.1rem;
}

.header__notify-footer {

}

.header__notify-footer-btn {
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.3rem;
    font-weight: 400;
}

/* MODAL */
.modal {
    --growth-from: 0.7;
    --growth-to: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    animation: growth linear 0.1s;
    display: none;
}

/* Register form */
.modal-container {
    margin: auto;
    width: 500px;
}

.auth-form {
    width: 100%;
    background-color: #fff;
    padding: 0 30px;
    border-radius: 2px 2px 0 0;
    padding-bottom: 16px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    margin-bottom: 32px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__group {
    display: flex;
    margin: 16px 0;
}

.auth-form__input {
    width: 100%;
    padding: 10px;
    outline: none;
}

.auth-form__aside {
    padding: 0px 62px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 16px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 112px;
}

.auth-form__controls-back {
    margin-right: 6px;
}

.auth-form__controls-back:hover {
    background: rgba(0, 0, 0, 0.07);
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--primary:hover {
    background: #ff4d2a;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #e5e1e1;
    padding: 0 30px;
    border-radius: 0 0 2px 2px;
}

.btn--with-icon {
    min-width: 220px;
    height: 28px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black-color);
    line-height: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 8px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials-facebook {
    color: var(--white-color);
    background-color: #0b4b99;
}

.auth-form__socials-google {
    color: var(--text-color);
}

.auth-form__socials-title {
    padding: 0 42px;
}

/* Login form */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

.auth-form__help--primary {
    position: relative;
    color: var(--primary-color);
    margin-right: 16px;
}

.auth-form__help--primary::after {
    content: "";
    display: block;
    position: absolute;
    height: 13px;
    border-left: 1px solid #999;
    top: 0;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

/* HEADER WITH SEARCH */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    display: flex;
    justify-content: center;
}

.header__logo-img {
    height: 66px;
}

.header__search {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 14px;
    font-size: 1.4rem;
    border-radius: 2px 0 0 2px;
}

.header__search-select {
    font-size: 1.2rem;
    border-left: 1px solid #ccc;
    padding: 3px 16px;
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-select-label {
    margin-right: 8px;
}

.header__search-select-icon {
    color: #7a7a7a;
}

.header__cart {
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__search-btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    min-width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-option {
    position: absolute;
    top: 128%;
    right: 0;
    border-radius: 2px;
}

.header__search-option-item {
    list-style-type: none;
    font-size: 1.2rem;
    background-color: var(--white-color);
    padding: 10px 17px;
}