/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    :root {
        --header-height: 68px;
        --header-navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .header__sort-bar {
        display: flex;
    }

    .header__logo {
        width: 70px;
        justify-content: flex-start;
    }

    .header__logo-img {
        height: 50px;
    }

    .header__cart {
        justify-content: flex-end;
        width: 60px;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
    }

    .header__cart-list::before {
        display: none;
    }

    .container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__mobile-search {
        display: block;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search-mobile {
        display: none;
    }

    .mobile__search--checkbox:checked ~ .header__search-mobile {
        display: flex;
    }

    .mobile__search--checkbox:checked ~ .header__sort-bar {
        display: none;
    }

    .content {
        margin-left: 4px;
        margin-right: 4px;
    }

    .pagination-item__link {
        min-width: 20px;
        margin: 0 14px;
    }
}